<p id="notice"><%= notice %></p>
<h>Name</h>
<p><%= @task_list.name %></p><br>
<h>Description</h>
<p><%= @task_list.description %></p><br>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        
        <td><%= link_to 'Edit', edit_task_list_task_path(@task, @task_list) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Task', new_task_list_task_path(@task_list) %>
<br>

<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
